h1 {
  text-align: center;
  font-family: "Jua", sans-serif;
  font-size: 70px;
  line-height: 1;
  margin-top: 20px;
  background-color: #fbf8cc;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.titleicon {
  max-width: 70px;
}
/* ------------ search bar styling ----------------- */
.searchBar {
  background-color: #fde4cf;
  line-height: 2;
  padding: 10px;
}
.charlotte,
.portland,
.houston {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all 200ms ease-in-out;
  padding-right: 10px;
}
.charlotte:hover {
  font-size: 19px;
}
.portland:hover {
  font-size: 19px;
}
.houston:hover {
  font-size: 19px;
}

/* ------------  city styling ----------------- */
.city {
  background-color: #ffcfd2;
  text-align: center;
  text-transform: capitalize;
  padding-left: 12px;
}
#city {
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
}
#date {
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
}
#currentTemp,
#currentWeather {
  padding-bottom: 10px;
  font-size: 17px;
}
.fToC {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}
.fToC:hover {
  font-size: 18px;
  font-weight: bold;
}
/* ----------------- current weather ----------*/
.current {
  background-color: #f1c0e8;
  text-align: center;
  line-height: 2;
}
#mainIcon,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6,
#icon7 {
  min-width: 160px;
  line-height: 0.5;
}
#currentCondition,
#day2Condition,
#day3Condition,
#day4Condition,
#day5Condition,
#day6Condition,
#day7Condition {
  font-size: 35px;
  font-family: "Concert One", cursive;
  text-transform: capitalize;
  line-height: 0.5;
  padding-bottom: 20px;
}
#temps {
  font-size: 17px;
  line-height: 2;
  padding-left: 20px;
}
#goldHour {
  text-align: center;
  font-size: 17px;
  line-height: 2;
  padding-right: 25px;
}

.sunUp,
.windy {
  max-width: 23px;
}
.sunDown {
  max-width: 25px;
}
/* ------------ future styling ----------------- */
.days {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#day2 {
  background-color: #cfbaf0;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day3 {
  background-color: #a3c4f3;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day4 {
  background-color: #90dbf4;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day5 {
  background-color: #8eecf5;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day6 {
  background-color: #98f5e1;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day7 {
  background-color: #b9fbc0;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* ---------------FOOTER------------------------------ */
footer {
  text-align: center;
  font-family: monospace;
}
#tempIcon {
  max-width: 25px;
}
#rainbow {
  max-width: 45px;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0c0e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 180px;
  height: 140px;
  display: block;
  margin: 0 auto 20px;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, #fff 100%, transparent 0),
    linear-gradient(#fff 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
  position: relative;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 23px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 65px;
  width: 5px;
  height: 9px;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 0.6s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 25px 0 white, 50px 0 white, 75px 0 white, 100px 0 white,
      125px 0 white, 150px 0 white, 25px 0 white, 50px 0 white, 75px 0 white,
      100px 0 white, 125px 0 white, 150px 0 white;
  }
  50% {
    box-shadow: 25px 20px white, 50px 60px rgba(255, 255, 255, 0),
      75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0),
      125px 40px white, 150px 60px rgba(255, 255, 255, 0), 25px 20px white,
      50px 30px white, 75px 10px white, 100px 30px white,
      125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 25px 60px rgba(255, 255, 255, 0),
      50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0),
      100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0),
      150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0),
      50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0),
      100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0),
      150px 30px rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}
.container {
  border: solid 1px black;
  font-family: "Rubik", sans-serif;
  max-width: 650px;
  padding: 0;
}
