.container {
  border: solid 1px black;
  font-family: "Rubik", sans-serif;
  max-width: 650px;
  padding: 0;
}
h1 {
  text-align: center;
  font-family: "Jua", sans-serif;
  font-size: 70px;
  line-height: 1;
  margin-top: 20px;
  background-color: #fbf8cc;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.titleicon {
  max-width: 70px;
}
/* ------------ search bar styling ----------------- */
.searchBar {
  background-color: #fde4cf;
  line-height: 2;
  padding: 10px;
}
.charlotte,
.portland,
.houston {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all 200ms ease-in-out;
  padding-right: 10px;
}
.charlotte:hover {
  font-size: 19px;
}
.portland:hover {
  font-size: 19px;
}
.houston:hover {
  font-size: 19px;
}

/* ------------  city styling ----------------- */
.city {
  background-color: #ffcfd2;
  text-align: center;
  text-transform: capitalize;
}
#city,
#date {
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
}
#currentTemp,
#currentWeather {
  padding-bottom: 10px;
  font-size: 17px;
}
.fToC {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}
.fToC:hover {
  font-size: 18px;
  font-weight: bold;
}
/* ----------------- current weather ----------*/
.current {
  background-color: #f1c0e8;
  text-align: center;
  line-height: 2;
}
#mainIcon,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6,
#icon7 {
  min-width: 120px;
  line-height: 0.5;
}
#currentCondition,
#day2Condition,
#day3Condition,
#day4Condition,
#day5Condition,
#day6Condition,
#day7Condition {
  font-size: 25px;
  font-family: "Concert One", cursive;
  text-transform: capitalize;
  line-height: 0.5;
  padding-bottom: 20px;
}
#temps {
  font-size: 17px;
  line-height: 2;
  padding-left: 20px;
}
#goldHour {
  text-align: center;
  font-size: 17px;
  line-height: 2;
  padding-right: 20px;
}

.sunUp,
.windy {
  max-width: 23px;
}
.sunDown {
  max-width: 25px;
}
/* ------------ future styling ----------------- */
.days {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#day2 {
  background-color: #cfbaf0;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day3 {
  background-color: #a3c4f3;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day4 {
  background-color: #90dbf4;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day5 {
  background-color: #8eecf5;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day6 {
  background-color: #98f5e1;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

#day7 {
  background-color: #b9fbc0;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* ---------------FOOTER------------------------------ */
footer {
  text-align: center;
  font-family: monospace;
}
#tempIcon {
  max-width: 25px;
}
#rainbow {
  max-width: 45px;
}
